<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section
			name="SqlFactory"
			type="DB.SqlFactory.SqlFactorySectionHandler, DB.SqlFactory" />

	</configSections>
	
	<connectionStrings>
		<add name="MyConn" connectionString="MyConn"/>
	</connectionStrings>

	<SqlFactory connectionStringName="MyConn">
		<SqlStrings>
			<add name="Sql"
			     sql="SqlText"/>
			<add
				name="SqlParams"
				sql="sql with {0}"
				paramsCount="1"/>
		</SqlStrings>
	</SqlFactory>
</configuration>