<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="SqlFactory" type="DB.SqlFactory.SqlFactorySectionHandler, DB.SqlFactory"/>
		<section name="oracle.manageddataaccess.client"
			type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>

	<connectionStrings>
		<clear/>
		<add connectionString="DATA SOURCE=PEN-PEN:1521/xe;PERSIST SECURITY INFO=True;USER ID=CSHARP;PASSWORD=CorporationOfEv1l" name="Oracle"
			providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>

	<SqlFactory connectionStringName="Oracle">
		<SqlStrings>
			<add name="TaskReader.AllTasks" sql="SELECT * FROM tasks"/>
			<add name="SolutionReader.MySolutions"
				sql="SELECT solution_id, solution_name, base_solution_id FROM solutions           JOIN users ON solutions.user_id=users.user_id        WHERE task_id={0} AND username='{1}'"
				paramsCount="2"/>
			<add name="ProviderSolutionDao.DeleteSolution" sql="DELETE FROM solution WHERE id={0}" paramsCount="1"/>
			<add name="ProviderSolutionDao.AddSolution" sql="ADD_SOLUTION" paramsCount="4"/>

			<add name="ProviderClassFileDao.DeleteFileFromSolution" sql="DELETE FROM code_files WHERE       solution_id = {0} AND file_path = {1}" paramsCount="2"/>
			<add name="ProviderClassFileDao.AddFileToSolution" sql="ADD_CODE_FILE" paramsCount="2"/>
		</SqlStrings>
	</SqlFactory>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
				type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>