<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add connectionString="DATA SOURCE=PEN-PEN:1521/xe;PERSIST SECURITY INFO=True;USER ID=CSHARP;PASSWORD=CorporationOfEv1l"
		     name="Oracle" providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>
	
	<SqlFactory connectionStringName="DevConnection">
		<SqlStrings>
			<add name="TaskReader.AllTasks"
			     sql="SELECT * FROM tasks"/>
			<!--<add name="DragonManager.GetDragons" sql="SELECT * FROM DRAGON" />
			<add name="DragonManager.GetDragonById" sql="SELECT * FROM DRAGON WHERE DragonId = {0}" paramsCount="1"/>
			<add name="DragonManager.FindDragonByColorBreath" sql="SELECT * FROM DRAGON WHERE Color = '{0}' OR Breath = '{1}'" paramsCount="2"/>-->
		</SqlStrings>
	</SqlFactory>
</configuration>